@import "tailwindcss";

.autoShow {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #000;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 1000px;
}

.autoShow {
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
